<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>House</th>
            </tr>
        </thead>
        <tbody>
            {% for user in data %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.house }}</td>
                <td><a href="/delete?id={{ user.id }}" onclick="return confirm('Are you sure you want to delete {{ user.first_name }}')">Delete</a></td>
                <td><a href="/edit?id={{user.id}}">Edit a record</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{url_for('add')}}">Add a new record</a>
</body>
</html>