{% extends '_layout.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <label for="first_name">First Name</label>
    <input id="first_name" name="first_name" />
    <br />
    <label for="last_name">Last Name</label>
    <input id="last_name" name="last_name" />
    <br />
    <label for="email">Email</label>
    <input id="email" name="email" />
    <p id="message"></p>
    <br />
    <label for="passowrd">Password</label>
    <input id="password" name="password" type="password" />
    <br />
    <label for="pic">Profile picture:</label>
    <input id="pic" type="file" name="avatar" />
    <br />
    <input type="submit" value="sign up" />
</form>
<script>
    let emailInput = document.querySelector('#email');
    let message = document.querySelector('#message');

    emailInput.addEventListener('input', checkUniqueEmail);

    async function checkUniqueEmail() {
        let response = await fetch("/checkemail?email=" + emailInput.value);
        let json = await response.json();

        if (json.status == 'OK') {
            message.style.color = 'green';
            message.textContent = 'Email is available';
        } else {
            message.style.color = 'red';
            message.textContent = 'Email is taken';
        }

        // Send a message to flask to check if email was taken or not

    }
</script>

{% endblock %}