{% extends '_layout.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{row.ID}}</td>
        <td>{{row.first_name}}</td>
        <td>{{row.last_name}}</td>
        <td>{{row.email}}</td>
        <td>
        <a href="/view?id={{row.ID}}">View</a>
        <a href="/edit?id={{row.ID}}">Edit</a>
        <a href="/delete?id={{ row.ID }}" onclick="return confirm('Are you sure you want to delete {{ row.first_name }}')">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}