.profile-name {
    margin:auto;
}

.profile-email {
    margin: auto;
}
.profile-pic {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 10%;
    max-height: auto;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}