table {
    border-collapse: collapse;
}

th, td {
    border: 1px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

.btn {
    background-color: lightgray;
    color: black;
    padding: 6px 12px;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
}
